/* carousel */
.carousel { background-color:#fff; border:1px solid #D8D8D8; height:88px; overflow:hidden; }
.carouselWLongAd { width:100%; float:left; }
.carousel .navBtn { width:18px; height:44px; background:url(carousel_arrows.png) 0 0 no-repeat; display:block; text-indent:-9999px; margin-right:0; float:right; border:1px solid #D8D8D8; border-top:0; border-right:0;}
.carousel .nextBtn { background-position:0 -44px; margin-left:0; margin-right:0; }
.carousel .jCarouselLite { float:left; margin:15px 2px 5px; width:903px !important; overflow:hidden; }
.carouselWLongAd .jCarouselLite { width:195px !important; overflow:hidden; }
.carousel .jCarouselLite li { float:left; padding:0 8px; height:75px; border-right:2px solid #ddd; overflow:hidden; }
.carouselWLongAd .jCarouselLite li { border:none; }
.carousel .jCarouselLite li img { float:left; margin-right:8px; width:70px; height:50px;  }
.carousel .jCarouselLite li a { font-size:1.3em; line-height:1.2em; }
.carousel .jCarouselLite small { display:block; text-align:left; color:#515151; font-size:9px; padding-top:5px; margin-left:16px; clear:both; }
