# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*.local
docroot/sites/*.localhost
docroot/sites/default/settings.php
*.project
www
*.DS_Store
docroot/nbproject
.gitignore~

