# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*.local
docroot/sites/*.localhost
docroot/sites/default/settings.php
docroot/.buildpath
docroot/.metadata/
docroot/.settings/
*.project
www
*.DS_Store
*nbproject*
*.*~