/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 460px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 490px; /* 480px - padding-left */
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 60px;
}

.container-12 .grid-2 {
  width: 140px;
}

.container-12 .grid-3 {
  width: 220px;
}

.container-12 .grid-4 {
  width: 300px;
}

.container-12 .grid-5 {
  width: 380px;
}

.container-12 .grid-6 {
  width: 460px;
}

.container-12 .grid-7 {
  width: 460px;
}

.container-12 .grid-8 {
  width: 460px;
}

.container-12 .grid-9 {
  width: 460px;
}

.container-12 .grid-10 {
  width: 460px;
}

.container-12 .grid-11 {
  width: 460px;
}

.container-12 .grid-12 {
  width: 460px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 80px;
}

.container-12 .prefix-2 {
  padding-left: 160px;
}

.container-12 .prefix-3 {
  padding-left: 240px;
}

.container-12 .prefix-4 {
  padding-left: 320px;
}

.container-12 .prefix-5 {
  padding-left: 400px;
}

.container-12 .prefix-6 {
  padding-left: 480px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 80px;
}

.container-12 .suffix-2 {
  padding-right: 160px;
}

.container-12 .suffix-3 {
  padding-right: 240px;
}

.container-12 .suffix-4 {
  padding-right: 320px;
}

.container-12 .suffix-5 {
  padding-right: 400px;
}

.container-12 .suffix-6 {
  padding-right: 480px;
}


/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 80px;
}

.container-12 .push-2 {
  left: 160px;
}

.container-12 .push-3 {
  left: 240px;
}

.container-12 .push-4 {
  left: 320px;
}

.container-12 .push-5 {
  left: 400px;
}

.container-12 .push-6 {
  left: 480px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -80px;
}

.container-12 .pull-2 {
  left: -160px;
}

.container-12 .pull-3 {
  left: -240px;
}

.container-12 .pull-4 {
  left: -320px;
}

.container-12 .pull-5 {
  left: -400px;
}

.container-12 .pull-6 {
  left: -480px;
}

/* Main Nav */
#block-system-main-menu { display:none; }
#block-menu-block-1 { display:block; float:right; margin-right:40px; }
#zone-submenu { display:none; }

/* jumbotron */
.jumbotron .panels ul li { width:460px;  }

.jumbotron .navtitle { top:242px; }
.jumbotron #navIndicator { top:240px; }

.jumbotron .panels,.jumbotron .panels ul li img { height:248px; }
.jumbotron .nextprev { top:120px; }
.jumbotron .jumboNavNext { top:248px; }

.jumbotron .textOverlay { height:65px; }
.jumbotron .textOverlay .title { margin-top:4px; font-size:2.2em; }
.jumbotron .textOverlay .subtitle { font-size:1.5em; line-height:1em; }


/* middle sidebar */
aside#region-sidebar-first { width:460px; margin-left:0; }
aside#region-sidebar-second { width:460px; margin-left:0; text-align:center;  }
.sidebar-list ul li { clear:both; }
.sidebar-list .teaser-image { float:left; margin-bottom:10px; margin-right:10px; }
.more-link { clear:both; }

/* Ads */
.region-header-second { display:none; }

/* Carousel */
.container-12 .grid-3.region-header-first { width:470px; }
.carouselWLongAd .jCarouselLite { width:435px !important; }

/* maxim tv page */
.context-maximtv .maximtv-channel ul li.views-row-odd { margin-left:0; }
