a { text-decoration: none; }

article {
  margin: 0 auto;
	background-color: #fff !important;
  margin-top: -58px;
}

article form {
  margin: 0 auto;
  margin: 40px 0 0 0;
  background-color: #fff !important;
  background-position: left bottom;
  background-image: url("http://cdn2.maxim.com/maximonline/hot100vote/images/hot100_footer.jpg");
  background-repeat: no-repeat;
  text-align:center;
  padding: 0 0 0 10px;
 /* border: 1px solid blue;*/
}

article form div div{
  /*border: 1px solid red;*/
}

.node-webform .webform-component-fieldset {
  float: left;
  height: 40px;
  line-height: 6px;
  margin: 0;
  text-align: left;
  width: 232px;
}

.node-webform #header {
  height: 286px;
  background-image: url('http://cdn2.maxim.com/maximonline/hot100vote/images/hot100_header.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
}

.node-webform #header #copy {
  margin: 0 auto;
  padding: 170px 0 0;
  width: 474px;
  text-align: center;
}

.node-webform #header #copy h1{
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 18px;
}

.node-webform #content {
  height: 2058px;
  text-align: center;
}

.node-webform #content ul{
  height: 1600px;
}

.node-webform #thanks {
  height: 450px;
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

.overlay {
  z-index: 10;
  margin: 0 0 0 100px;
  position: relative;
  top: -50px;
  width: 150px;
  height: 100px;
}

.node-webform .overlay img{
  z-index: 10;/*
  background: none;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;*/
}

div.node-webform form#vote div#content div.other{
  text-align: left;
  width: 460px;
  margin: 0 auto;
  line-height: 180%;
}

div.node-webform form#vote div#content div.other input{
  width: 460px;
}
/*
.node-webform .webform-component-fieldset {
  width:210px;
  height:45px;
  text-align:left;
  float:left;
}
*/
#edit-actions {
  display:block;
  clear:both;
}

.node-webform .fieldset-wrapper div {
  float:left;
  position:absolute;
}

.node-webform .webform-component-markup {
  margin:25px 0 0 10px;
}

.node-webform .webform-component-markup a {
  display:block;
  float:left;
  margin-left:8px;
  line-height:1.2em;
  font-size: 13px;
}

#webform-component-other {
  padding: 30px 0 20px 0;
  clear:both;
}

.node-webform #edit-submit {
    background-image: url("http://cdn2.maxim.com/maximonline/hot100vote/images/hot100_submit_07.jpg") !important;
    background-position: left top !important;
    background-repeat: no-repeat !important;
    border: medium none !important;
    height: 50px !important;
    margin: 65px 0 75px 0;
    width: 283px !important;
}

#submit-msg {font-size:15pt}
#page-title {display:none}
.captcha div {
  text-align: left;
  margin: 0;
}

.captcha div img{
  margin: 20px 0;
}

.captcha div div{
  float: none !important;
  position: relative !important;
}

.captcha div .fieldset-description {
  font-size: 12px
}


@media only screen and (max-width: 1000px){
  article form {background-image: none; margin-top:-100px;}
  .node-webform #header {background-image:none;}
  .node-webform #header #copy{top:0; left:0; width:auto; position:relative; padding:0;}
}


@media only screen and (min-width: 999px) {
  article form {background-image: url("http://cdn2.maxim.com/maximonline/hot100vote/images/hot100_footer.jpg"); margin-top:40px;}
  .node-webform #header {background-image: url('http://cdn2.maxim.com/maximonline/hot100vote/images/hot100_header.jpg');}
  .node-webform #header #copy {top: 0; padding-top:160px; }
}
@media only screen and (min-width:480px) and (max-width:679px){
  #edit-submitted-other {
    width: 300px;
  }
  #webform-component-other {
    padding: 30px 0 0 0;
  }
  article form {
    padding: 0;
  }
  .node-webform #edit-submit{
    margin: 0;
  }
  article form {
    margin: -100px 20px 0;
  }
  .node-webform .webform-component-markup a {
    font-size: 16px;
  }
  .node-webform .webform-component-markup {
    margin: 18px 0 0 10px;
  }
}
@media only screen and (max-width:479px) {
  #edit-submitted-other {
    width: 300px;
  }
  #webform-component-other {
    padding: 30px 0 0 0;
  }
  article form {
    padding: 0;
  }
  .overlay {
    margin: 0 0 0 150px;
  }
  .node-webform #edit-submit{
    margin: 0;
  }
  .node-webform .webform-component-markup a {
    font-size: 16px;
  }
  .node-webform .webform-component-markup {
    margin: 19px 0 0 10px;
  }
}
