/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 300px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 330px; /* 320px - padding-left */
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 60px;
}

.container-12 .grid-2 {
  width: 140px;
}

.container-12 .grid-3 {
  width: 220px;
}

.container-12 .grid-4 {
  width: 300px;
}

.container-12 .grid-5 {
  width: 300px;
}

.container-12 .grid-6 {
  width: 300px;
}

.container-12 .grid-7 {
  width: 300px;
}

.container-12 .grid-8 {
  width: 300px;
}

.container-12 .grid-12 {
  width: 300px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 80px;
}

.container-12 .prefix-2 {
  padding-left: 160px;
}

.container-12 .prefix-3 {
  padding-left: 240px;
}

.container-12 .prefix-4 {
  padding-left: 320px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 80px;
}

.container-12 .suffix-2 {
  padding-right: 160px;
}

.container-12 .suffix-3 {
  padding-right: 240px;
}

.container-12 .suffix-4 {
  padding-right: 320px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 80px;
}

.container-12 .push-2 {
  left: 160px;
}

.container-12 .push-3 {
  left: 240px;
}

.container-12 .push-4 {
  left: 320px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -80px;
}

.container-12 .pull-2 {
  left: -160px;
}

.container-12 .pull-3 {
  left: -240px;
}

.container-12 .pull-4 {
  left: -320px;
}

/* jumbotron */
.jumbotron .panels ul li { width:300px;  }
.jumbotron .panels ,.jumbotron .panels ul li img { height:162px; }
.jumbotron .nextprev { top:50px; }

.jumbotron .navtitle { top:156px; }
.jumbotron #navIndicator { top:152px; left:180px;  }
.jumbotron .jumboNavNext { top:162px; }

.jumboNav ul li { width:230px; }
.jumboNav ul li div.details { margin:18px 0 4px;  }
.jumboNav ul li div.details img { width:80px; }
.jumboNav ul li div.title { font-size:1.4em; line-height:1.2em; width:75px;  }
.jumboNav ul li div.navNum { font-size:4em; }
.jumboNav ul li div.selector { width:230px; }

/* middle sidebar */
aside#region-sidebar-first { width:300px; }