/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 300px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 310px; /* 320px - padding-left */
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 60px;
}

.container-12 .grid-2 {
  /* width: 140px; */
  width: 300px;
}

.container-12 .grid-3 {
  /* width: 220px; */
  width: 300px;
}

.container-12 .grid-4 {
  width: 300px;
}

.container-12 .grid-5 {
  width: 300px;
}

.container-12 .grid-6 {
  width: 300px;
}

.container-12 .grid-7 {
  width: 300px;
}

.container-12 .grid-8 {
  width: 300px;
}

.container-12 .grid-12 {
  width: 300px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 80px;
}

.container-12 .prefix-2 {
  padding-left: 160px;
}

.container-12 .prefix-3 {
  padding-left: 240px;
}

.container-12 .prefix-4 {
  padding-left: 320px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 80px;
}

.container-12 .suffix-2 {
  padding-right: 160px;
}

.container-12 .suffix-3 {
  padding-right: 240px;
}

.container-12 .suffix-4 {
  padding-right: 320px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 80px;
}

.container-12 .push-2 {
  left: 160px;
}

.container-12 .push-3 {
  left: 240px;
}

.container-12 .push-4 {
  left: 320px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -80px;
}

.container-12 .pull-2 {
  left: -160px;
}

.container-12 .pull-3 {
  left: -240px;
}

.container-12 .pull-4 {
  left: -320px;
}

/* flash videos */
.view-maximtv-browser object, .view-maximtv-browser embed, .view-maximtv-browser video,
.node-video object, .node-video embed, .node-video video
 { height:200px; }

/* logo*/
.logo-img { display:none; }

/* Search box */
#zone-utility-menu-wrapper { background-color:#000; }
#zone-utility-menu-wrapper .block-search { position:absolute; top:25px; right:-10px; }
#zone-utility-menu-wrapper .block-search .content .form-text,
#zone-utility-menu-wrapper .block-search .content .form-text.expanded { width:60px; }
#zone-utility-menu { background-color:#000; border-bottom: 1px solid #000; }
#block-system-user-menu { display:none; }

/* Main Nav */
#zone-menu-wrapper { background-color:#3e3e3e; }
#zone-menu { background-color:#3e3e3e; }
#block-system-main-menu { display:none; }
#block-menu-block-1 { display:block; margin:0; margin-left:-10px; width:175px; }
#block-menu-block-1 select { font-size:1em; width:130px; }
#block-menu-block-1 .content { margin:5px 0; }
#zone-submenu { display:none; }

/* content teaser */
.content-teaser .teaser-image { float:none; width:197px; margin:0 auto; }
.content-teaser h2 { margin-top:5px; clear:both; text-align:center; }
.content-teaser h1 { clear:both; text-align:center; font-size:1em; }
.content-teaser .teaser-body { display:none; }

/* middle sidebar */
aside#region-sidebar-first { width:300px; margin-left:0; }
.sidebar-list ul li { clear:both; }
.sidebar-list .teaser-image { float:left; margin-bottom:10px; margin-right:10px; }
.more-link { clear:both; }

/* Ads */
.region-header-second { display:none; }

/* Carousel */
.container-12 .grid-3.region-header-first { width:305px; }
.carouselWLongAd .jCarouselLite { width:275px !important; }

/* maxim tv page */
.context-maximtv .maximtv-channel ul { margin:12px auto 0; width:220px;  }
.context-maximtv .maximtv-channel ul li { margin-left:0; text-align:center; }

/* pager (override) */
.item-list .pager li.pager-current { font-size:1.4em; padding:0 3px; }
.item-list .pager li.pager-next { margin-left:0; }
.item-list .pager li.pager-previous { margin-right:0; }
.item-list .pager li a { background: none; font-size:1.2em; padding:0 3px; }
.item-list .pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a { padding: 0 3px; }
.item-list .pager .prev-image { margin-top:1px;  }
.item-list .pager .next-image { margin-top:1px; }

