/*
    Document   : subscribe.css
    Created on : Sep 19, 2012, 3:29:47 PM
    Author     : alvin
    Description:
        Purpose of the stylesheet follows.
*/

h1{
  display: none;
}

#subscribe-my-form {
  margin: 0 0 190px 0;
  font-size: 14px;
}

.subscribe_header{
  width: 200px;
  height: 200px;
  background-color: #000;
  color: #fff;
}

.subscribe_preview_img {
  /*float: right;*/
  position: absolute;
  right: 0;
  margin: 60px 0 0 0;
}

#edit-submit.signup_btn{
  background-image: url("/sites/default/modules/custom/subscribe/images/btn_sign_up.jpg");
  background-repeat: no-repeat;
  border: 0 none;
  text-indent: -999em;
  border-radius: 0 !important;
  moz border radius: 0 !important;
  -webkit-border-radius: 0 !important;
  width: 105px;
  height: 33px;
}

.subscribe_copy {
  font-size: 16px;
}

.container-inline-date .date-padding {
  padding: 0 !important;
}

@media only screen and (min-width: 671px) and (max-width: 979px) {
  .subscribe_preview_img img {
    width: 300px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 670px) {
  #subscribe-my-form {
    margin: 0 0 550px 0;
  }
  .subscribe_preview_img {
    position: absolute;
    width: 460px;
    top: 600px;
    left: 20px;
  }
}

@media (max-width: 479px) {
  #subscribe-my-form {
    margin: 0 0 400px 0;
  }
  .subscribe_preview_img {
    position: absolute;
    top: 600px;
  }
}
