/* generic modal style */
.modal { width:800px; height:600px; background:url(images/modal_bg.png) repeat; position:fixed; top:90px; left:90px; z-index:1000; }
.modal .modalContent { position:relative; padding:20px; height:494px; }
.modal .modalContent .close { position:absolute; display:block; width:28px; height:28px; background:url(images/modal_close.png) no-repeat; top:12px; right:12px; text-indent:-9999px; }

/* interstitial ad */
#interstitialCirc .sponsortext { text-align:center; color:#7f7f7f; font-size:1.3em; }
#interstitialCirc small { color:#7f7f7f; font-size:1em; position:absolute; top:20px; right:50px; }
#interstitialCirc object, #interstitialCirc embed { margin:0 35px; }
#interstitialCirc .interstitialContent { margin:20px 0; text-align:center; }
#interstitialCirc .interstitialContent .subscribeBtn { background-image:url(images/circ_subscribe_btn_red.png); width:150px; margin-top:20px; margin:20px auto 0; height:23px; text-indent:-10000px; display:block; }

