/* Celebrity Profile */
.field-name-field-hot-100-display-name .field-item {font-size:2.5em; font-family: 'Proxima Nova Semibold';}
.bio-field .label-above {font-size: 1.5em;}
.related-items-field .label-above {display:none;}
.node-celebrity-profile .social-margin-fix {margin-top:7px;}
.node-celebrity-profile .social-links .twitter-share-button {margin-top:2px;}
.related-nid {margin-bottom:25px;}
.related-content-title a {color:#3C3C3C !important; font-size:1.3em;}
.celeb-profile-main-image {margin:25px 0;}
.related-content-summary .related-more-link {margin-top:3px 3px 3px 0;} 
.related-nid img {border: 1px solid #9D9D9D;}
.related-nid .icon-overlay {background:url(../images/icon_slideshow.png) no-repeat; height: 33px; position: absolute; right: 0; top: 0; width: 45px;  }