/* Generic Profile */
/*voting*/
/*vb_military_ciroc campaign */
.vb_test123 #generic_vote { margin-top:10px; background: url(../images/vote_for_me.png) no-repeat; width:300px; height:52px; cursor: pointer; text-indent:-9999px; display:none}
.vb_test123 #generic_no_vote_msg { margin-top:10px; background-color:#DBF2D1; font-size: 1.6em; color:#4C4C4C; width: 280px; padding:10px; line-height:1.2em; }
.vb_test123 #generic_no_vote_msg a { color:#0074A4; }
.vb_test123 #vote-success  { background: url(http://cdn2.maxim.com/maxim/sites/default/libraries/hth/checkmark.png) no-repeat; background-color:#DBF2D1; background-position:15px; width:220px; padding:10px; padding-left:60px; margin:10px 0; font-size:1.4em; }

.vb_military_ciroc #generic_vote { margin-top:10px; background: url(http://cdn2.maxim.com/maxim/sites/default/files/ciroc_military_vote_btn.gif) no-repeat; width:300px; height:52px; cursor: pointer; text-indent:-9999px; display:none}
.vb_military_ciroc #generic_no_vote_msg { margin-top:10px; background-color:#DBF2D1; font-size: 1.6em; color:#4C4C4C; width: 280px; padding:10px; line-height:1.2em; }
.vb_military_ciroc #generic_no_vote_msg a { color:#0074A4; }
.vb_military_ciroc #vote-success  { background: url(http://cdn2.maxim.com/maxim/sites/default/libraries/hth/checkmark.png) no-repeat; background-color:#DBF2D1; background-position:15px; width:220px; padding:10px; padding-left:60px; margin:10px 0; font-size:1.4em; }

/* Header */
.node-type-generic-profile #zone-header { padding:0 !important; background:none !important; width:980px; }
.node-type-generic-profile #region-feature, #region-content-container { margin-top:5px; }
.node-type-generic-profile .zone-wide-feature { background-color:#FFF; }
.node-type-generic-profile .zone-wide-feature .grid-4 { margin-top:0; }

/*slideshow*/
.node-type-generic-profile .field-name-field-profile-ref-slideshow {margin-top:20px}


.gprofile-header { margin-left:-10px; width:980px; }

/* #boxes-box-hth_axe_sponsor { float:right; } */

/* Prev/Next */
.field-name-general-profile-previous-next { margin-top:20px; }
.field-name-general-profile-previous-next .gprofile-prev-btn { display:none; float:left; }
.field-name-general-profile-previous-next .gprofile-next-btn { display:none; float:right; }

/* Voting */
.block-generic-voting-resource-generic-vote-button  { width:300px;  }
#generic_vote { margin-top:10px; width:300px; height:52px; cursor: pointer; text-indent:-9999px; display:none; }
#generic_no_vote_msg { margin-top:10px; background-color:#DBF2D1; font-size: 1.6em; color:#4C4C4C; width: 280px; padding:10px; line-height:1.2em; }
#generic_no_vote_msg a { color:#0074A4; }
#generic-vote-success  { background: url(http://cdn2.maxim.com/maxim/sites/default/libraries/hth/checkmark.png) no-repeat; background-color:#DBF2D1; background-position:15px; width:220px; padding:10px; padding-left:60px; margin:10px 0; font-size:1.4em; }

/*rhs bio*/
#block-ds-extras-generic-profile-information h2 { font-family:'Proxima Nova Semibold'; font-style:normal; font-weight:normal; font-size:3.8em; line-height:1em; margin-top:10px; }
#block-ds-extras-generic-profile-information .field { font-size:1.4em; margin:4px 0; }
#block-ds-extras-generic-profile-information .field .field-label { width: 120px;  }
#block-ds-extras-generic-profile-information .field .field-items { width: 180px; }
#block-ds-extras-generic-profile-information .field.field-name-city-state-comma-separated {  font-family:'Proxima Nova Semibold'; font-size:1.9em; margin:0; }
#block-ds-extras-generic-profile-information .field.field-name-city-state-comma-separated .field-items { width:300px; }
#block-ds-extras-generic-profile-information .field-name-latest-tweet { margin-top:20px; background: url(../images/quote_gray.png) no-repeat center top; }
#block-ds-extras-generic-profile-information .field-name-latest-tweet .jta-tweet-list-item { background-color:#FFF; border:0; }
#block-ds-extras-generic-profile-information .field-name-latest-tweet .field-items { width:300px; }
#block-ds-extras-generic-profile-information .field-name-latest-tweet .field-items .field-item { padding:20px 0 0;  }
#block-ds-extras-generic-profile-information .field-name-latest-tweet a { color:#008dc7; }
#block-ds-extras-generic-profile-information .field-name-social-links .field-items { width:300px; }
#block-ds-extras-generic-profile-information .field-name-social-links .fb_iframe_widget span { width:80px !important; }
.block-gmap-location { width:300px; }


/*body */
.field-type-text-with-summary h2 { font-family: 'Proxima Nova Thin'; font-size: 2.5em; letter-spacing: 1.5px; }
.field-type-text-with-summary p { margin-bottom:15px; line-height:1.4em;  }

/* Slideshow */
.block-generic-profile-slideshow .anythingSlider ul li { line-height:425px; }
.block-generic-profile-slideshow .anythingSlider .wrapper { top:0px; }
.block-generic-profile-slideshow .anythingSlider #thumbNav { top:505px;  }
.block-generic-profile-slideshow .anythingSlider .arrow.outside { top:515px;  }
.block-generic-profile-slideshow .anythingSlider .inside { top:220px; }
.block-generic-profile-slideshow #fullscreenLink { margin-left: 2px;}
.block-generic-profile-slideshow #fullscreenLink img { margin-right:3px; }
.block-generic-profile-slideshow #fullscreenLink a { float:none; margin-right:0; font-size:1.2em; color:#000 !important; height:1em; }
.block-generic-profile-slideshow #hide-ss-text { position: absolute; left: -9999em; top: auto; width: 1px; height: 1px; overflow: hidden; }
.block-generic-slideshow .clear-both { clear:both; height:0; }


/* Slider (not always present) */
.node-type-generic-profile .section-content .region-wide-feature.grid-12 { display:none; }
.node-type-generic-profile .region-wide-feature { background: url(../images/slider-background.png) no-repeat; height:130px; margin-top:25px;  }
.view-general-profile-nq-slider { position:relative; margin:15px auto; width:920px; }
.view-general-profile-nq-slider .view-content {  border:1px solid #008cc7; }
.view-general-profile-nq-slider .view-header { position:absolute; top:-10px; left:370px; background-color:#008cc7; color:#FFF; text-align:center; width:200px; height:16px; font-size:1em; font-weight:bold; text-transform:uppercase; line-height:1.8em; }
.view-general-profile-nq-slider .hottie-list { background-color:#FFF; }
.view-general-profile-nq-slider .hottie-list ul { margin:0; margin-left:16px;  }
.view-general-profile-nq-slider .hottie-list ul li {float:left; width:89px; text-align:center; margin:0; height:76px; padding-top:14px; }
.view-general-profile-nq-slider .hottie-list ul li .hottie-image { margin:0 auto; }
.view-general-profile-nq-slider .hottie-list ul li .hottie-image img { text-align:center; }
.view-general-profile-nq-slider .hottie-list ul li .hottie-name { margin-top:3px; font-size:1.2em; font-family:'Proxima Nova Semibold'; line-height:.9em; }
.view-general-profile-nq-slider .hottie-list ul li.active { background-color:#D0D0D0; }
.view-general-profile-nq-slider .hottie-list ul li.active .hottie-image img { border:2px solid #FFF000; margin-top:-2px; }
.view-general-profile-nq-slider .hottie-list .position { display:none; }
.view-general-profile-nq-slider .throbber { display:none; }
.view-general-profile-nq-slider .item-list { margin-top:4px; text-align:center; }
.view-general-profile-nq-slider .item-list .pager { margin:0; }
.view-general-profile-nq-slider .item-list .pager li { font-size:.9em; }
.view-general-profile-nq-slider .item-list .pager li a { font-size:1.2em; color:#2fa1d1; }
.view-general-profile-nq-slider .item-list .pager li span.active { display:inline-block; color:#000; padding:0 4px; font-family: 'Proxima Nova Semibold'; font-size:1.2em; }
.view-general-profile-nq-slider .slider-prev { position:absolute; margin:0; left:4px; top:34px;}
.view-general-profile-nq-slider .slider-next { position:absolute; margin:0; right:4px; top:34px;  }
.view-general-profile-nq-slider .slider-prev .pager, .view-hometown-hotties-slider .slider-next .pager { height:17px; width:9px; }
.view-general-profile-nq-slider .slider-prev .pager li.pager-prev { margin:0; width:9px;height:17px; }
.view-general-profile-nq-slider .slider-next .pager li.pager-next { margin:0; right:0; width:9px;height:17px; }
.view-general-profile-nq-slider .slider-prev .pager li a { background:url(../images/slider_left_arrow.png) no-repeat; height:17px; width:9px; padding:0;  }
.view-general-profile-nq-slider .slider-next .pager li a { background:url(../images/slider_right_arrow.png) no-repeat; height:17px; width:9px; padding:0;  }
.view-general-profile-nq-slider .slider-loading { display:none; position:absolute; top:34px; left:430px;  background-color:#008cc7; color:#FFF; padding:2px 5px; }

#holder a {position:relative;}
.video-circle {border-radius: 50px 50px 50px 50px;font-size: 20px;height: 32px;margin:-37px 0 0 13px;position: relative;text-align: center;width: 32px;border: 2px solid white;z-index:10;}
.arrow-right {border-bottom: 10px solid transparent;border-left: 13px solid white;border-top: 10px solid transparent;height: 0;margin-left: 12px;margin-top: 5px;width: 0;}

@media only screen and (min-width: 680px) and (max-width: 980px){
  .node-type-generic-profile #zone-header { width:660px; }
  .gprofile-header img { width:660px; }
  .block-generic-voting-resource { width:660px; }

  .node-type-generic-profile .region-wide-feature { height:250px; background-repeat:repeat-y; }
  .block-generic-profile-information { width:620px; }
  .group_gprofile_info { float:left; }
  .field-name-latest-tweet { margin-left:20px; float:left; }

  .view-general-profile-nq-slider { width:620px; margin-top:25px; }
  .view-general-profile-nq-slider .view-header { left:200px;  }
  .view-general-profile-nq-slider .hottie-list ul { margin-left:24px;  }
  .view-general-profile-nq-slider .hottie-list ul li { margin-right:28px; }
  .view-general-profile-nq-slider .slider-loading { top:80px; left:255px; }
  .view-general-profile-nq-slider .slider-prev,
  .view-general-profile-nq-slider .slider-next { top:76px; }
  .view-general-profile-nq-slider .item-list .pager { width:420px; }
}

@media only screen and (min-width: 480px) and (max-width: 679px){
  .node-type-generic-profile { width:460px; margin-top:25px; }
  .node-type-generic-profile #zone-header { width:490px; }

  .gprofile-header img { width:490px; }
  .block-generic-voting-resource { margin-left:-5px; width:490px; }
  .block-gmap-location { width:100%; }
  #fullscreenLink { margin-left: 3px; }

  .node-type-generic-profile .anythingSlider { width:460px; }
  .node-type-generic-profile .anythingSlider .wrapper { top:0px; width:460px; }
  .node-type-generic-profile .anythingSlider #thumbNav { top:380px;  }
  .node-type-generic-profile .anythingSlider .arrow.outside { top:380px;  }
  .node-type-generic-profile .anythingSlider .inside { top:170px; }
  .node-type-generic-profile .anythingSlider ul li { width: 460px; line-height:340px; }
  .node-type-generic-profile .region-wide-feature { height:250px; background-repeat:repeat-y; }

  .view-general-profile-nq-slider { width:460px; margin-top:25px; }
  .view-general-profile-nq-slider .view-header { left:130px; }
  .view-general-profile-nq-slider .hottie-list ul { margin-left:12px; }
  .view-general-profile-nq-slider .hottie-list ul li { width:86px; }
  .view-general-profile-nq-slider .slider-loading { top:80px; left:180px; }
  .view-general-profile-nq-slider .slider-prev,
  .view-general-profile-nq-slider .slider-next { top:76px; }
  .view-general-profile-nq-slider .item-list .pager { width:420px; }
}

@media only screen and (max-width: 479px){
  .node-type-generic-profile #zone-header { width:320px; }
  .gprofile-header img { width:320px; }
  .block-generic-voting-resource { margin-left:0; width:320px; }
  #fullscreenLink { margin-left: 3px; }
  
  .node-type-generic-profile .anythingSlider { width:300px; }
  .node-type-generic-profile .anythingSlider .wrapper { top:0px; width:300px; }
  .node-type-generic-profile .anythingSlider #thumbNav { top:220px;  }
  .node-type-generic-profile .anythingSlider .arrow.outside { top:225px;  }
  .node-type-generic-profile .anythingSlider .inside { top:75px; }
  .node-type-generic-profile .anythingSlider ul li { width: 300px; line-height:206px; }
  .node-type-generic-profile .region-wide-feature { height:440px; background-repeat:repeat-y; }
  
  .view-general-profile-nq-slider { width:300px; margin-top:25px; }
  .view-general-profile-nq-slider .view-header { left:60px; }
  .view-general-profile-nq-slider .hottie-list ul { margin-left:12px; }
  .view-general-profile-nq-slider .slider-loading { top:170px; left:100px; }
  .view-general-profile-nq-slider .slider-prev,
  .view-hometown-hotties-slider .slider-next { top:170px; }
}
