/* This file will hold the main styles for your website. */

/* body */
body { background-color:#D8D8D8; font-size: 62.5%; color: #3C3C3C; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

ul { list-style-type:none; }
a, a:link, a:visited { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }
.node-title a, a:link, a:visited { color: black;}

p { font-size:1.2em; font-family: arial; }
.field-name-body { font-size:1.3em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
p > b { font-family: arial; font-weight: bold; }
.view-home-page a { font-size:1.4em;  }
.poll, .poll a { font-size:1.4em; }

/* logo*/
.logo-img { position:relative; }
.logo-img img { position:absolute; z-index:1000; top:0; left:-33px; }

/* top utiliy menu */
#zone-utility-menu-wrapper { position:relative; height:22px; background-color:#3e3e3e; white-space:nowrap;  }
#zone-utility-menu-wrapper .block-search { float:right; }
#zone-utility-menu-wrapper .block-search .content .form-text { width:100px; height:16px; border:0; margin:0; font-size:1.2em; padding:0; background-color:#CCC; }

#zone-utility-menu-wrapper .block-user-menu { float:right; margin-right:20px; }
#zone-utility-menu-wrapper .block-user-menu h2 { display:none; }
#zone-utility-menu-wrapper .block-user-menu ul li { float:left; margin-left:10px; }
#zone-utility-menu-wrapper .block-user-menu ul li.leaf { list-style-type:none; list-style-image:none; }
#zone-utility-menu-wrapper .block-user-menu ul li a { color:#FFF; text-decoration:none; font-size:1.3em; }

/* top navigation */
#zone-menu-wrapper { background-color:#000; }
#zone-menu { padding-left:0; }
/* temp - remove this navigation from page */
#region-menu nav.navigation { display:none; }

#block-system-main-menu .block-title { display:none; }
#block-system-main-menu ul.menu { position:relative; }
#block-system-main-menu ul.menu li { display:inline; margin-left:6px; padding:6px 4px 8px; line-height:2.7em; border-top:3px;}
#block-system-main-menu ul.menu li.first { margin-left: 145px;  }
#block-system-main-menu ul.menu li a { color:#FFF; font-size:1.4em; text-decoration:none; text-transform:uppercase;  }
#block-system-main-menu ul.menu li.active-trail { border-top:3px solid #FFF000; }
#block-system-main-menu ul.menu li.over {  background-color:#FFF; border-top:3px solid #FFF;   }
#block-system-main-menu ul.menu li.over a { color:#000; }

/* subnav flyout */
#block-system-main-menu ul.menu li ul.menu { display:none; } /* to hide initial submenu */
#block-system-main-menu ul.menu li .subNav { position:absolute; display:none; background:url(../images/subnav_bkg.png) no-repeat; width:1004px; height:358px; left:50%; margin-left:-496px; padding:20px 0; z-index:100; }
#block-system-main-menu ul.menu li .subNav ul { float:left; margin-left:0; width:251px; }
#block-system-main-menu ul.menu li .subNav ul h6 { color:#0074a5; font-size:1.6em; padding-left:60px; font-weight:bold; width:150px; height:1.6em; }
#block-system-main-menu ul.menu li .subNav ul li { position:relative; display:block; margin-left:11px; width:237px; padding:0 0 0 15px; border-top:0; line-height:2.6em; }
#block-system-main-menu ul.menu li .subNav ul li span { display:inline-block; background: url(../images/subnav_bullet.png) no-repeat; width:18px; height:9px; }
#block-system-main-menu ul.menu li .subNav ul a { text-transform:none;  }
#block-system-main-menu ul.menu li .subNav ul li.selected { background:url(../images/subchannel_select.png) no-repeat;}
#block-system-main-menu ul.menu li .subNav ul li.selected a { color:#FFF; }

#block-system-main-menu ul.menu li .subNav .subnav_subchannel_feature { float:left; width:190px; height:300px; padding:0 20px;  }
#block-system-main-menu ul.menu li .subNav .subnav_subchannel_feature h2 { font-size:1.2em; line-height:1.2em; color:#000; text-transform:none;  }
#block-system-main-menu ul.menu li .subNav .subnav_subchannel_feature h2 a { text-transform:none; }
#block-system-main-menu ul.menu li .subNav .subnav_subchannel_feature p { font-size:1.2em; line-height:1.5em; }
#block-system-main-menu ul.menu li .subNav .subnav_subchannel_feature .sponsor { text-align:center; margin-top:20px; }

#block-system-main-menu ul.menu li .subNav ul.nav_articles { float:left; width:205px; padding:0 20px; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles img { width:70px; height:50px; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles h3 { color:#0074a5; font-size:1.4em; margin-bottom:.4em; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles li { clear:both; padding:0; margin-left:0; height:70px; background:none; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles li figure { float:left; padding-right:8px;  }
#block-system-main-menu ul.menu li .subNav ul.nav_articles li h2 { margin-top:4px; font-size:1em; line-height:1.2em; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles li a { color:#000; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles .morelink { margin-top:20px;color:#0074a4; font-size:1.2em; }
#block-system-main-menu ul.menu li .subNav ul.nav_articles .morelink  a { font-size:1.1em; color:#0074a4; }

#block-system-main-menu ul.menu li .subNav ul.nav_tv { float:left; width:200px; padding:0; padding-left:16px; }
#block-system-main-menu ul.menu li .subNav ul.nav_tv h3 { margin-left:10px; color:#0074a5; font-size:1.4em; margin-bottom:.4em; }
#block-system-main-menu ul.menu li .subNav ul.nav_tv li { clear:both; padding:0 0 5px 12px; background: url(../images/bullet_blue_double_arrow.png) no-repeat 0 .4em; line-height:1.6em; width:190px; }
#block-system-main-menu ul.menu li .subNav ul.nav_tv li.feature { background:none; padding-left:0; }
#block-system-main-menu ul.menu li .subNav ul.nav_tv li a { color:#000; font-size:1.2em; }
#block-system-main-menu ul.menu li .subNav ul.nav_tv li h2 { margin-top:4px;  font-size:1.2em; line-height:1.2em;  }
#block-system-main-menu ul.menu li .subNav ul.nav_tv li figure img { width:220px; height:157px; }

/* subnav on internal pages */
#zone-submenu { background-color:#FFF; }
#region-submenu h2 { display:none; }
#region-submenu ul.menu { line-height: 2.6em; text-align:center; }
#region-submenu ul.menu li { display: inline; }
#region-submenu ul.menu li.leaf { list-style-type: none; list-style-image: none; }
#region-submenu ul.menu li a { color:#000; font-size:1.2em; font-weight:bold;  }
#region-submenu ul.menu li.active-trail a { color:#0074A4; }

/* top header zone */
#zone-header { padding:20px 5px; background: url(../images/header_top_bkg.png) repeat-x #EBEBEB; }
#region-header-first { margin-right:5px; }
#region-header-second { margin-left:0; }

/* main content */
#zone-content, #zone-wide-feature { background-color:#FFF; }
#zone-content { padding-top:20px; }

/* middle sidebar */
#region-sidebar-first section .block-inner { padding:10px; padding-bottom:0; }
/*#region-sidebar-first section .block-inner { background:url(../images/featuredcol_mid_blue.png) repeat-y; }*/
#region-sidebar-first section .block-inner { background-color: #E9F9FF; border-top:5px solid #008CC7; border-right:5px solid #008CC7;}
#region-sidebar-first section .block-inner h2.block-title { color:#008DC8; font-weight:normal; font-size:2.4em; text-transform:uppercase; line-height:1em; }
#region-sidebar-first section .block-inner ul { margin-top:10px; }
#region-sidebar-first section .block-inner li { margin:5px 0; }
#region-sidebar-first section .block-inner .views-field-title { margin-top:3px; }
#region-sidebar-first section .block-inner .views-field-title a { color:#000; line-height:1em; }
#region-sidebar-first section .block-inner { margin-bottom: 20px;}

/* maximtv sidebar */
#region-sidebar-first #block-views-maximtv-browser-block-4 .block-inner { background: #EAF7E2; border-color: #93AB1B;}
#region-sidebar-first #block-views-maximtv-browser-block-4 h2 { color: #718607;}

/*#region-sidebar-first #block-views-polls-block .block-inner { background:url(../images/featuredcol_mid_brown.png) repeat-y; }*/
#region-sidebar-first #block-views-polls-block .block-inner { background: #FEEEE8; border-color: #BE4C1E;}
#region-sidebar-first #block-views-polls-block .block-inner h2 { color:#BE4C1E; }
#region-sidebar-first #block-views-polls-block .view-polls { margin-top:5px; }
#region-sidebar-first #block-views-polls-block .view-polls h2 { font-size:1.3em; font-weight:bold; line-height:1em; }
#region-sidebar-first #block-views-polls-block .view-polls h2 a { color:#000;  }
#region-sidebar-first #block-views-polls-block .view-polls .choices { text-align:left; margin-left:10px; }
#region-sidebar-first #block-views-polls-block .view-polls .form-type-radio { margin:0; line-height:1.4em;  }
#region-sidebar-first #block-views-polls-block .view-polls label.option { font-size:1.0em;  }
#region-sidebar-first #block-views-polls-block .view-polls .more-link { margin:8px 0; text-align:center; }

section#featuredSections .featuredBlock { margin-top:20px; }
section#featuredSections .featuredBlock .featuredTop { width:140px; height:5px;  }
section#featuredSections .featuredBlock .featuredMid { width:140px; padding:10px; }
section#featuredSections .featuredBlock .featuredBottom { width:140px; height:7px; }

section#featuredSections .featuredBlock.first h1, section#featuredSections .featuredBlock.first .more a {color:#008dc8; }
section#featuredSections .featuredBlock.first .featuredTop { background:url(../images/featuredcol_top_blue.png) no-repeat; }
section#featuredSections .featuredBlock.first .featuredMid { background:url(../images/featuredcol_mid_blue.png) repeat-y;  }
section#featuredSections .featuredBlock.first .featuredBottom { background:url(../images/featuredcol_bottom_blue.png) no-repeat; }

section#featuredSections .featuredBlock.third h1, section#featuredSections .featuredBlock.third .more a  {color:#BE4C1E; }
section#featuredSections .featuredBlock.third .featuredTop { background:url(../images/featuredcol_top_brown.png) no-repeat; }
section#featuredSections .featuredBlock.third .featuredMid { background:url(../images/featuredcol_mid_brown.png) repeat-y; }
section#featuredSections .featuredBlock.third .featuredBottom { background:url(../images/featuredcol_bottom_brown.png) no-repeat; }
section#featuredSections .featuredBlock .poll { margin:5px;}
section#featuredSections .featuredBlock .poll h3 { font-size:1.4em; font-weight:bold; }
section#featuredSections .featuredBlock .poll p { font-size:1.4em; line-height:1.5em; margin:10px 0 0; }
section#featuredSections .featuredBlock .poll .btnPoll { margin-top:10px; }
section#featuredSections .featuredBlock .poll .results { margin-left:20px; }
section#featuredSections .featuredBlock .poll .results a { border-bottom: 1px solid #beb2ae; font-size:1.2em; color:#000; }

/* right sidebar */
#region-sidebar-second .block { margin:10px 0; }

/* Partner links */
#zone-partners { background-color:#FFF; }
#zone-partners .view-header { text-align:center; border-top:1px solid #cecece; border-bottom:1px solid #cecece; padding:8px 0; }
#zone-partners .view-header p { margin-bottom:0; }
#zone-partners .view-content ul { margin-top:10px; }
#zone-partners .view-content ul li { padding-bottom:1em; line-height:1.3em;  }
#zone-partners .view-content ul li a { color:#2e3752; font-size:1.4em; }

/* Postscript zone */
.zone-postscript { background-color:#FFF; }

/* Footer */
#zone-footer { background-color:#B7B7B7; padding-top:20px; }
#zone-footer h2 { color:#FFF; text-transform:uppercase; }
#zone-footer .footer-list ul,
#zone-footer .menu-block-wrapper ul  { padding-top:5px; }
#zone-footer .footer-list ul li,
#zone-footer .menu-block-wrapper ul li { margin:0; padding-bottom:.8em; line-height:1.3em; list-style-type:none; list-style-image:none; }
#zone-footer .footer-list ul li a,
#zone-footer .menu-block-wrapper ul li a { color:#000000; font-size:1.4em; }

/* article teasers */
article.node-teaser { }
article.node-teaser h2.node-title { line-height:.9em; }
article.node-teaser h2.node-title a { font-size:.8em; color:#000; text-decoration:none; }
article.node-teaser footer.submitted {  }
article.node-teaser .content { font-size:1.2em; }
article.node-teaser .content img { max-width:400px; } /* fix for inline images */
article.node-teaser .field-type-image { float:left; width:197px; margin-right:10px; }
article.node-teaser .field-type-image img { width:100%; }
/*article.node-teaser .field-type-text-with-summary {   }*/

/* Twitter module */
.module-twitter { margin: 0 auto; width: 300px; }

/* Channel headings */
.field-name-field-channel a {color: #be1e2d; text-transform: uppercase; font-size: 1.1em; }

/* margin between stories in lading channels*/
.views-row { margin-bottom: 30px;}

.navNum { padding-right: 2px; }
