/* This file will hold the main styles for your website. */

/* body */
body { 
  background-color:#D8D8D8; 
  font-size: 62.5%;
  color: #3C3C3C;
  font-family: Proxima, Arial, Helvetica;
}

h2 { padding:0; margin:0; }
ul { list-style-type:none; }
a, a:link, a:visited { text-decoration: none; }

p { font-size:1.2em; }


/* logo*/
.logo-img { position:relative; }
.logo-img img { position:absolute; z-index:1000; top:0; left:-33px; }

/* top utiliy menu */
#zone-utility-menu-wrapper { position:relative; height:22px; background-color:#3e3e3e; white-space:nowrap;  }
#zone-utility-menu-wrapper .block-search { float:right; }
#zone-utility-menu-wrapper .block-search .content .form-text { width:100px; height:16px; border:0; margin:0; font-size:1.2em; padding:0; background-color:#CCC; }

#zone-utility-menu-wrapper .block-user-menu { float:right; margin-right:20px; }
#zone-utility-menu-wrapper .block-user-menu h2 { display:none; }
#zone-utility-menu-wrapper .block-user-menu ul li { float:left; margin-left:10px; }
#zone-utility-menu-wrapper .block-user-menu ul li.leaf { list-style-type:none; list-style-image:none; }
#zone-utility-menu-wrapper .block-user-menu ul li a { color:#FFF; text-decoration:none; font-size:1.3em; }

/* top navigation */
#zone-menu-wrapper { background-color:#000; }
#zone-menu { padding-left:0; }
#region-menu { position:relative; width:100%; background-color:#000; }
#region-menu nav.navigation h2 { display:none; }
#region-menu nav.navigation ul.main-menu { width:100%; margin-bottom:0; float: left; color:#FFF; }
#region-menu nav.navigation ul.main-menu li { float:left; margin-left:6px; padding:0 4px; line-height:2.7em; border-top:3px solid #000;  }
#region-menu nav.navigation ul.main-menu li.first { margin-left: 145px; }
#region-menu nav.navigation ul.main-menu li a { color:#FFF; font-weight:bold; font-size:1.3em; text-decoration:none; text-transform:uppercase;  }
#region-menu nav.navigation ul.main-menu li.active-trail { border-top:3px solid #FFF000; }
#region-menu nav.navigation ul.main-menu li:hover {  background-color:#FFF; border-top:3px solid #FFF;   }
#region-menu nav.navigation ul.main-menu li:hover a { color:#000; }

#zone-submenu { background-color:#FFF; }
#zone-submenu ul.menu { line-height: 2.6em; text-align:center; }
#zone-submenu ul.menu li { display: inline; }
#zone-submenu ul.menu li.leaf { list-style-type: none; list-style-image: none; }
#zone-submenu ul.menu li a { color:#000; font-size:1.2em; font-weight:bold;  }
#zone-submenu ul.menu li.active-trail a { color:#0074A4; }

/* top header zone */
.zone-header { padding-top:20px; background-color:#EBEBEB; }

/* main content */
#zone-content, #zone-wide-feature { background-color:#FFF; }
#zone-content { padding-top:20px; }
/* right sidebar */
.region-sidebar-second .block { margin:10px 0; }

/* article teasers */
article.node-teaser { }
article.node-teaser h2.node-title { line-height:.9em; }
article.node-teaser h2.node-title a { font-size:.8em; color:#000; text-decoration:none; }
article.node-teaser footer.submitted {  }
article.node-teaser .content { font-size:1.2em; }
article.node-teaser .content img { max-width:400px; } /* fix for inline images */
article.node-teaser .field-type-image { float:left; width:197px; margin-right:10px; }
article.node-teaser .field-type-image img { width:100%; }
article.node-teaser .field-type-text-with-summary {   }

.view-home-page a { font-size:1.4em;  }
.poll, .poll a { font-size:1.4em; }

/* Twitter module */
.module-twitter { margin: 0 auto; width: 300px; }
