/* This file will hold the main styles for your website. */

/* body */
body { 
  background-color:#D8D8D8; 
	font-size: 62.5%;
        color: #3C3C3C;
	font-family: Proxima, Arial, Helvetica;
}

h2 { padding:0; margin:0; }
ul { list-style-type:none; }
a, a:link, a:visited { text-decoration: none; font-size: 1.2em; }

p { font-size:1.2em; }