/* Hometown Hotties Profile */
.zone-wide-feature { background-color:#FFF; padding:5px; }

.block-hottie-profile-information .field-name-vote-button .field-items { width:300px; height:52px; }
.block-hottie-profile-information #hth_vote { margin-top:20px; background: url(../images/vote_for_me.png) no-repeat; width:300px; height:52px; cursor: pointer; text-indent:-9999px }
.block-hottie-profile-information h2 { font-family:'Proxima Nova Semibold'; font-style:normal; font-weight:normal; font-size:3.8em; line-height:1em; margin-top:10px; }
.block-hottie-profile-information .field { font-size:1.4em; margin:4px 0; }
.block-hottie-profile-information .field .field-label { width: 120px;  }
.block-hottie-profile-information .field .field-items { width: 180px; }
.block-hottie-profile-information .field.field-name-city-state-comma-separated {  font-family:'Proxima Nova Semibold'; font-size:1.9em; margin-top:0; }
.block-hottie-profile-information .field.field-name-city-state-comma-separated .field-items { width:300px; }
.block-hottie-profile-information .field-name-latest-tweet { margin-top:20px; background: url(../images/quote_gray.png) no-repeat center top; }
.block-hottie-profile-information .field-name-latest-tweet .jta-tweet-list-item { background-color:#FFF; border:0; }
.block-hottie-profile-information .field-name-latest-tweet .field-items { width:300px; }
.block-hottie-profile-information .field-name-latest-tweet .field-items .field-item { padding:20px 0 0;  }
.block-hottie-profile-information .field-name-latest-tweet a { color:#008dc7; }

.field-name-body h2 { font-size:2.5em; font-family:'Proxima Nova Thin'; letter-spacing: 1.5px; }
.field-name-body p { margin-bottom:15px; line-height:1.4em;  }

.zone-wide-feature.container-12 { width:965px; }
/* Hometown Hotties Slider */
.region-wide-feature { background: url(../images/slider-background.png); height:125px; }
.view-hometown-hotties-slider { position:relative; margin:15px auto; width:920px; height:90px; background-color:#FFF; border:1px solid #008cc7; }
.view-hometown-hotties-slider .view-header { position:absolute; top:-10px; left:370px; background-color:#008cc7; color:#FFF; text-align:center; width:200px; height:16px; font-size:1em; font-weight:bold; text-transform:uppercase; line-height:1.8em; }
.view-hometown-hotties-slider .hottie-list ul { margin:0; margin-left:16px;  }
.view-hometown-hotties-slider .hottie-list ul li {float:left; width:89px; text-align:center; margin:0; height:76px; padding-top:14px; }
.view-hometown-hotties-slider .hottie-list ul li .hottie-image { margin:0 auto; }
.view-hometown-hotties-slider .hottie-list ul li .hottie-image img { text-align:center; }
.view-hometown-hotties-slider .hottie-list ul li .hottie-name { margin-top:3px; font-size:1.2em; font-family:Proxima Nova Semibold; line-height:.9em; }
.view-hometown-hotties-slider .hottie-list ul li.active { background-color:#D0D0D0; } 
.view-hometown-hotties-slider .hottie-list ul li.active .hottie-image img { border:2px solid #FFF000; margin-top:-2px; } 
.view-hometown-hotties-slider .hottie-list .position { display:none; }
.view-hometown-hotties-slider .throbber { display:none; }
.view-hometown-hotties-slider .item-list { margin-top:4px; text-align:center; }
.view-hometown-hotties-slider .item-list .pager { margin:0; }
.view-hometown-hotties-slider .item-list .pager li { font-size:.9em; }
.view-hometown-hotties-slider .item-list .pager li a { font-size:1.2em; color:#2fa1d1; }
.view-hometown-hotties-slider .item-list .pager li span.active { display:inline-block; color:#000; padding:0 4px; font-family: Proxima Nova Semibold; font-size:1.2em; }
.view-hometown-hotties-slider .slider-prev { position:absolute; margin:0; left:4px; top:34px;}
.view-hometown-hotties-slider .slider-next { position:absolute; margin:0; right:4px; top:34px;  }
.view-hometown-hotties-slider .slider-prev .pager, .view-hometown-hotties-slider .slider-next .pager { height:17px; width:9px; }
.view-hometown-hotties-slider .slider-prev .pager li.pager-prev { margin:0; width:9px;height:17px; }
.view-hometown-hotties-slider .slider-next .pager li.pager-next { margin:0; right:0; width:9px;height:17px; }
.view-hometown-hotties-slider .slider-prev .pager li a { background:url(../images/slider_left_arrow.png) no-repeat; height:17px; width:9px; padding:0;  }
.view-hometown-hotties-slider .slider-next .pager li a { background:url(../images/slider_right_arrow.png) no-repeat; height:17px; width:9px; padding:0;  }
.view-hometown-hotties-slider .slider-loading { display:none; position:absolute; top:34px; left:430px;  background-color:#008cc7; color:#FFF; padding:2px 5px; }


@media only screen and (min-width: 680px) and (max-width: 980px){

}

@media only screen and (min-width: 480px) and (max-width: 679px){

}

@media only screen and (max-width: 479px){

}

