#img-logo { margin-bottom:15px; }
.view-hub-landing-pages ul { width: 100%; }
.view-hub-landing-pages ul li { width:460px; float:left; height:165px; margin:0; }
.view-hub-landing-pages ul li .views-field-title { font-size:1.9em; line-height:1.2em; font-weight:bold; }
.view-hub-landing-pages ul li .views-field-field-main-image { float:left; margin-right: 10px; }
.view-hub-landing-pages ul .views-row-odd { margin-right:10px; }
.view-hub-landing-pages ul li .views-field-body{ font-size:1.2em }
.view-hub-landing-pages ul li .views-field-view-node a { color: #0062A0 !important; font-size:1.2em }
.context-hub #page-title { display:none; }
.view-hub-landing-pages ul.pager {
    display: inline-block;
    font-size: 10px;
    margin: 10px 0 30px;
}
.view-hub-landing-pages ul.pager li {
    display: inline;
    height: 30px;
    width: 20px;
}
.view-hub-landing-pages ul.pager li.pager-previous  {
    width: 120px;
}
.view-hub-landing-pages ul.pager li.pager-next {
    width: 70px;
}
.view-hub-landing-pages ul.pager li span, ul.pager li a {
    display: inline;
}

/* Hometown Hotties Hub - Poll */
.view-display-id-axe_hth_poll { clear: both; width:450px; margin:20px 0; }
.view-display-id-axe_hth_poll .poll { float:right; margin-right:30px; }
.view-display-id-axe_hth_poll .pollanon-poll-results .poll { margin:0; font-size:1em; width:200px; }
