/* This file will hold styles that are loaded using the same media query as the narrow grid. */


/* flash videos */
.view-maximtv-browser object, .view-maximtv-browser embed, .view-maximtv-browser video,
.node-video object, .node-video embed, .node-video video,
.page-node article .field-name-body object, .page-node article .field-name-body embed, .page-node article .field-name-body video,
.page-node div.media_embed iframe, .brightcove-field-embed
 { width:300px; height:200px; }

/* logo*/
#zone-branding-wrapper { background-color:#000; padding-top:3px;  }
.logo-img { display:none; }
.logo-img-sm { display:block; text-align:center; }

/* Search box */
#zone-utility-menu-wrapper { background-color:#000; height:1px; }
#zone-utility-menu-wrapper .block-search { position:absolute; top:3px; right:-10px; z-index:100; }
#zone-utility-menu-wrapper .block-search .content .form-text { width:60px; }
#zone-utility-menu-wrapper .block-search .content .form-text.expanded { width:100px; }
#zone-utility-menu { background-color:#000; border-bottom: 1px solid #000; }
#block-system-user-menu { display:none; }

/* Main Nav */
#zone-menu-wrapper { background-color:#3e3e3e; }
#zone-menu { background-color:#3e3e3e; }
#block-system-main-menu { display:none; }
#block-menu-block-dropdown-menu-1 { display:block; margin:0; margin-left:-10px; width:175px; }
#block-menu-block-dropdown-menu-1 select { font-size:1em; width:130px; }
#block-menu-block-dropdown-menu-1 .content { margin:4px 0; }
#zone-submenu { display:none; }

/* node reviews */
.node-type-review article .group_reviews_data .field { text-align:left; margin-right:0; display:block; clear:both;  }
.node-type-review article .group_reviews_data .field-label { float:left; padding-left:0; font-size:16px; }
.node-type-review article .group_reviews_data .field-items { float:left; font-size:16px; }
.node-type-review article .group_reviews_data .field-name-field-reviews-star-rating { float:none;}
.node-type-review article .field-name-field-reviews-price  { width:100%; }

/* content teaser */
.content-teaser .teaser-image { float:none; width:197px; margin:0 auto 10px; }
.content-teaser h2 { margin-top:5px; clear:both; text-align:center; }
.content-teaser h1 { clear:both; text-align:center; font-size:1em; }
.content-teaser .teaser-body { display:none; }
.content-teaser.views-row-even { background-color:#E6E6E6; padding:20px 0 20px 5px; }

/* middle sidebar */
aside#region-sidebar-first { width:300px; margin-left:0; }
.sidebar-list ul li { clear:both; text-align:center;}
.sidebar-list .teaser-image { margin-bottom:10px; margin-right:10px;  }
.more-link { clear:both; }

/* footer */
#zone-footer { text-align:center; }
#zone-footer ul.menu { text-align:center; }
.block-footer-max { margin-bottom:20px; }

/* Ads */
#zone-header .dart-tag, #zone-pushdown-wrapper { display:none; }

/* Carousel */
.container-12 .grid-3.region-header-first { width:305px; }
.carouselWLongAd .jCarouselLite { width:275px !important; }

/* slingshot */
.ss_item { margin-right:15px !important; }

/* maxim tv page */
.context-maximtv .maximtv-channel ul { margin:12px auto 0; width:220px;  }
.context-maximtv .maximtv-channel ul li { margin-left:0; text-align:center; }

/* pager (override) */
.item-list .pager li.pager-current { font-size:1.7em; padding:0 3px; }
.item-list .pager li.pager-next { margin-left:0; }
.item-list .pager li.pager-previous { margin-right:0; }
.item-list .pager li a { background: none; font-size:1.4em; padding:0 3px; }
.item-list .pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a { padding: 0 3px; }
.item-list .pager .prev-image { margin-top:2px;  }
.item-list .pager .next-image { margin-top:2px; }

/* search results page */
.page-search .search-form .form-text { width:200px; }

/* Facebook */
.fb-comments, .fb-comments iframe, .fb-comments span { width: 300px !important; }
