/* This file will hold styles that are loaded using the same media query as the tablet narrow grid. */

/* logo */
.logo-img img { left:-23px; }

/* flash videos */
.view-maximtv-browser object, .view-maximtv-browser embed, .view-maximtv-browser video,
.node-video object, .node-video embed, .node-video video,
.page-node article .field-name-body object, .page-node article .field-name-body embed, .page-node article .field-name-body video,
.page-node div.media_embed iframe
 { width:460px; height:280px; }

/* Main Nav */
#block-system-main-menu { display:none; }
#block-menu-block-dropdown-menu-1 { display:block; margin:0; float:right; margin-right:90px; }
#block-menu-block-dropdown-menu-1 .content { margin:5px 0; }
#zone-submenu { display:none; }

/* middle sidebar */
aside#region-sidebar-first { width:460px; margin-left:0; }
aside#region-sidebar-second { width:460px; margin-left:0; text-align:center;  }
.sidebar-list ul li { clear:both; }
.sidebar-list .teaser-image { float:left; margin-bottom:10px; margin-right:10px; }
.more-link { clear:both; }

/* Partner links -- large*/
.partner-links-header-text { width:100%; }
.partner-links-header-text .text-line { width:145px;}
.partner-links-side .view-content { width:400px; margin:0 auto; }
.partner-links-side .view-content li { margin-left:30px; }

/* footer */
#zone-footer .region { float:right; margin-right:5px; }
#region-footer-fourth { clear:both; }
#region-footer-first.region { float:left; }

/* node reviews */
.node-type-review article .group_reviews_data .field { text-align:left; margin-right:0; display:block; clear:both;  }
.node-type-review article .group_reviews_data .field-label { float:left; padding-left:0; font-size:16px; }
.node-type-review article .group_reviews_data .field-items { float:left; font-size:16px; }
.node-type-review article .group_reviews_data .field-name-field-reviews-star-rating { float:none;}
.node-type-review article .field-name-field-reviews-price  { width:100%; }

/* Ads */
#zone-header .dart-tag, #zone-pushdown-wrapper { display:none; }

/* Carousel */
.container-12 .grid-3.region-header-first { width:460px; }
.carouselWLongAd .jCarouselLite { width:435px !important; }

/* maxim tv page */
.context-maximtv .maximtv-channel ul li.views-row-odd { margin-left:0; }

/* search results page */
.page-search .search-form .form-text { width:360px; }

/* slingshot */
.ss_row { width:470px !important; }
.ss_item { width:130px !important; }

/* Facebook */
.fb-comments, .fb-comments iframe, .fb-comments span { width: 460px !important; }
