/* This file will hold styles that are loaded using the same media query as the tablet narrow grid. */

/* logo */
.logo-img img { left:-28px; }

/* flash videos */
.view-maximtv-browser object, .view-maximtv-browser embed, .view-maximtv-browser video,
.node-video object, .node-video embed, .node-video video,
.page-node article .field-name-body object, .page-node article .field-name-body embed, .page-node article .field-name-body video
 { width:460px; height:280px; }

/* Main Nav */
#block-system-main-menu { display:none; }
#block-menu-block-dropdown-menu-1 { display:block; margin:0; float:right; margin-right:90px; }
#block-menu-block-dropdown-menu-1 .content { margin:5px 0; }
#zone-submenu { display:none; }

/* middle sidebar */
aside#region-sidebar-first { width:460px; margin-left:0; }
aside#region-sidebar-second { width:460px; margin-left:0; text-align:center;  }
.sidebar-list ul li { clear:both; }
.sidebar-list .teaser-image { float:left; margin-bottom:10px; margin-right:10px; }
.more-link { clear:both; }

/* footer */
#zone-footer .region { float:right; margin-right:5px; }
#region-footer-fourth { clear:both; }
#region-footer-first.region { float:left; }

/* Ads */
#zone-header .dart-tag, #zone-pushdown-wrapper { display:none; }

/* Carousel */
.container-12 .grid-3.region-header-first { width:470px; }
.carouselWLongAd .jCarouselLite { width:435px !important; }

/* maxim tv page */
.context-maximtv .maximtv-channel ul li.views-row-odd { margin-left:0; }

/* search results page */
.page-search .search-form .form-text { width:360px; }
