/* This file will hold styles that are loaded using the same media query as the tablet wide grid. */

/* Main Nav */
#block-system-main-menu { display:none; }
#block-menu-block-dropdown-menu-1 { display:block; margin:0 auto; padding-left:80px; width:220px; }
#block-menu-block-dropdown-menu-1 .content { margin:4px 0; }
#zone-submenu { display:none; }

/* right sidebar */
aside#region-sidebar-second { width:620px; }
aside#region-sidebar-second .block { float:left; }
aside#region-sidebar-second .block.even { margin-left:10px; }

/* Ads */
#zone-header .dart-tag, #zone-pushdown-wrapper { display:none; }

/* Carousel */
.container-12 .grid-3.region-header-first { width:630px; }
.carouselWLongAd { width:100%; }
.carouselWLongAd .jCarouselLite { width:596px !important; }

/* maxim tv page */
.context-maximtv .maximtv-channel ul { margin:12px auto 0; width:460px;  }
.context-maximtv .maximtv-channel ul li.views-row-odd { margin-left:0; }

/* slingshot */
.ss_row { width:560px !important; display:block !important; margin:0 auto !important; }
.ss_item { margin-right:48px !important; }

/* side partner links */
#region-sidebar-second .partner-links-header-text {visibility: hidden;}
#region-sidebar-second .even .partner-links-side {margin-left:-10px;}
#region-sidebar-second .odd .partner-links-side {margin-left: 10px;}

/* Facebook */
.fb-comments, .fb-comments iframe, .fb-comments span { width: 620px !important; }
