/*  MultiVote */

/*voting*/
.multi-vote .btn { margin-top:10px; background: url(http://cdn2.maxim.com/maxim/sites/default/files/ciroc_military_vote_btn.gif) no-repeat; width:300px; height:52px; cursor: pointer; text-indent:-9999px; display:none}
.multi-vote .msg { margin-top:10px; background-color:#DBF2D1; font-size: 1.6em; color:#4C4C4C; width: 280px; padding:10px; line-height:1.2em; display:none; }
.multi-vote .no_vote_msg a { color:#0074A4; }
.multi-vote .vote-success  { background: url(http://cdn2.maxim.com/maxim/sites/default/libraries/hth/checkmark.png) no-repeat; background-color:#DBF2D1; background-position:15px; width:220px; padding:10px; padding-left:60px; margin:10px 0; font-size:1.4em; display:none; }

/*iframe*/
#multi-vote-iframe {width:1px; height:1px}

.multi-vote {height:150px;}