html { height:100% }
body { height:100%; position:relative; font-size: 62.5%; background-color: #000; color: #FFF; font-family: Helvetica, Arial, sans-serif; }

a { color:#B1B1B1; text-decoration: none; }
a:link {color: #B1B1B1; text-decoration: none; }
a:active {color: #B1B1B1; text-decoration: none; }
a:visited {color: #B1B1B1; text-decoration: none; }
a:hover {color: #B1B1B1; text-decoration: none; }

#zone-branding-wrapper { position:absolute; }
#zone-branding-wrapper .region-branding { margin:15px; z-index:100; }

#zone-menu-wrapper { display:none; }
#zone-copyright { width:80%; margin:40px auto 0; color:#333; }

.logo-img { margin: 0; padding: 5px; background-color: #000; }
