/* Fonts */
@font-face{
  font-family:'Proxima Nova';
    src:url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-bold/ProximaNova-Bold-webfont.eot);
    src:local("☺"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-bold/ProximaNova-Bold-webfont.ttf) format("truetype"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-bold/ProximaNova-Bold-webfont.woff) format("woff"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-bold/ProximaNova-Bold-webfont.svg#ProximaNovaBold) format("svg");
  font-style:normal;
  font-weight:bold;
}
@font-face{
  font-family:'Proxima Nova';
    src:url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-normal/ProximaNova-Reg-webfont.eot);
    src:local("☺"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-normal/ProximaNova-Reg-webfont.ttf) format("truetype"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-normal/ProximaNova-Reg-webfont.woff) format("woff"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova-normal-normal/ProximaNova-Reg-webfont.svg#ProximaNovaRegular) format("svg");
  font-style:normal;
  font-weight:normal;
}
@font-face{
  font-family:'Proxima Nova Semibold';
    src:url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Semibold-normal-normal/ProximaNova-Sbold-webfont.eot);
    src:local("☺"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Semibold-normal-normal/ProximaNova-Sbold-webfont.ttf) format("truetype"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Semibold-normal-normal/ProximaNova-Sbold-webfont.woff) format("woff"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Semibold-normal-normal/ProximaNova-Sbold-webfont.svg#ProximaNovaSemibold) format("svg");
  font-style:normal;
  font-weight:normal;
}
@font-face{
  font-family:'Proxima Nova Thin';
    src:url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Thin-normal-normal/ProximaNova-Thin-webfont.eot);
    src:local("☺"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Thin-normal-normal/ProximaNova-Thin-webfont.ttf) format("truetype"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Thin-normal-normal/ProximaNova-Thin-webfont.woff) format("woff"),
      url(/sites/default/files/fontyourface/local_fonts/Proxima_Nova_Thin-normal-normal/ProximaNova-Thin-webfont.svg#ProximaNovaThin) format("svg");
  font-style:normal;
  font-weight:normal;
}
