/*devil's cut'*/
#region-content .devils-cut-wrapper ul li img { width:300px !important; height:441px !important; }
.devils-cut-wrapper p {font-size:1.4em; margin:10px 0 20px 0;}
.devils-cut-wrapper ul {width:100%; margin-top:40px;}
.devils-cut-wrapper ul li { width:310px; float:left; margin:0; margin-bottom:50px; height:450px; }
.devils-cut-wrapper ul li a {color:#0062a0; font-size:1.6em; text-decoration:none; }
.devils-cut-wrapper ul li .views-field-title {margin-top:5px;}
.devils-cut-wrapper ul li .views-row-last {width:300px;}
.devils-cut-wrapper ul li .hth_name a { font-size: 2.2em; color:#0074A4 !important;}
.devils-cut-wrapper ul li .gamer-girl-location { font-size: 1.7em; margin-top:-5px;}
.devils-cut-header a img {margin-left:-15px; height:441px;}

 #dc-sidepanel {background-image: url(http://cdn2.maxim.com/maxim/sites/default/files/module_devils_cut_girls.jpg); background-repeat: no-repeat; width:300px; height:241px; position:relative; overflow: auto; overflow: hidden; }
 #dc-girls {margin-top:50px; margin-left:12px;}
 #dc-sidepanel .dc-row {height:95px;}
 #dc-sidepanel .dc-row .item {float:left; width:96px; }
 #dc-sidepanel .dc-row .item img {margin:0 auto;}
 
 /*heavenly*/
.view-webform-results .user-images ul li {border-bottom:2px solid black; display:block; height:660px; clear:both}
.view-webform-results .heavenly-results .field-content {font-size:1.5em;}
.view-webform-results .heavenly-results .views-label {font-size:1.5em; font-weight:bold;}
.view-webform-results .heavenly-results .scale-img {max-width:305px !important; max-height:490px;}
.view-webform-results .heavenly-results .float-img {float:left; margin-right:10px;}
.view-webform-results .heavenly-results .views-field-view-submission a {color: #0062A0; font-size:1.2em;}
.view-webform-results .heavenly-results .views-field-view-submission {margin-bottom:5px;}
.view-webform-results .heavenly-results .views-field-last-name {margin-top:5px;}

 /*submitted images*/
 #views-exposed-form-webform-results-webform-results-images {margin: 25px 0;}
 #views-exposed-form-webform-results-webform-results-images label {font-size:1.5em}
.view-webform-results .submitted-images .views-row {border-bottom:2px solid black; display:block; height:650px; clear:both}
.view-webform-results .submitted-images .field-content {font-size:1.5em;}
.view-webform-results .submitted-images .views-label {font-size:1.3em; font-weight:bold;}
.view-webform-results .submitted-images .scale-img {max-width:175px !important; max-height:480px;}
.view-webform-results .submitted-images .float-img {float:left; margin-right:10px;}
.view-webform-results .submitted-images .views-label-name {margin-top:25px;}
.view-webform-results .submitted-images .views-field-view-submission a {color: #0062A0; font-size:1.2em;}
.view-webform-results .submitted-images .views-field-view-submission {margin-bottom:5px;}
 
