.gallery-list { list-style-type: none; }
.gallery-list li { float: left; margin:10px; }

#alpha_list {overflow: auto; width: 100%}
#alpha_list ul {list-style-type: none;}
#alpha_list li {float: left; margin-left:4px;}

#alpha_list ul a {font-size:11pt; color:#23aeff;}
#alpha_list ul a:hover {color:red }

.selected-letter {font-size:11pt; color:black !important;}
