.gallery-list { list-style-type: none; }
.gallery-list li {float:left; width:150px; height: 150px; margin-right:5px;}
.gallery-list li img {border:1px #9d9d9d;}

#alpha_list {overflow: auto; width: 100%; margin-bottom:25px;}
#alpha_list ul {list-style-type: none;}
#alpha_list li {float: left; margin-left:8px;}

#alpha_list ul a {font-size:13pt; color:#23aeff;}
#alpha_list ul a:hover {color:red }

.selected-letter {font-size:13pt; color:black !important;}
