@import url("/sites/default/themes/maxim_base/css/typography.css");

.slideshow-links { float:right; margin:15px 10px 0 210px; }
.slideshow-links .ssLink { float:left; margin-left:30px; margin-bottom:10px;  }
.slideshow-links .closeLnk {  font-size:1.4em; }
.slideshow-links .thumbnailLnk { font-size:1.3em; line-height:1em; margin-top:5px; }
.slideshow-links .thumbnailLnk a, .slideshow-links.thumbnailLnk a:visited  { color:#787878; }
.slideshow-links .ss_ad_button { float:left; margin-top:-8px; }

#ss_title {clear:both; text-align:center; }
#ss_title h1 {font-size:2.4em; font-weight:normal; margin-bottom:0; line-height:1em; font-family:'Proxima Nova'; }

.view-slideshow-json { min-width:280px; }
.view-slideshow-json #nav { width:100%; position:absolute; top:40%; z-index:100;  }
.view-slideshow-json .lnk { cursor:pointer; font-size:1em; }
.view-slideshow-json #prev { position:absolute; display:block; left:0; }
.view-slideshow-json #next { position:absolute; display:block; right:0; }

#slideshowFull { position:relative; width:100%; height:80%; margin:20px auto 0; text-align:center;}

#dVideo {width:100%; }
#dVideo a {display:block; margin: 0 auto;}
#dImage { width:100%; max-height:100%; }
#dImage img {max-width:100%; max-height:100%; }
#dispImage {display:block; margin: 0 auto;}
#slideAd { display:none; text-align:center; width:550px; margin:40px auto;  }
#slideAd div { margin:0 auto; }
#slideAd .slug { color:#CCC; display:block; }

#pop {color:#000 !important; font-size:1.4em;}
#pop .slideTitle { font-weight:bold; font-size:1.5em; }
#pop a:link {color:#018FE2 !important; text-decoration: none !important; }
#pop a:active {color: #018FE2 !important; text-decoration: none !important; }
#pop a:visited {color: #018FE2 !important; text-decoration: none !important; }
#pop a:hover {color: #018FE2 !important; text-decoration: none !important; }

#slide-teaser-text {font-size:1.5em; width:400px; max-width:90%; margin:10px auto 0;}
#slide-teaser-text .slideTitle { font-weight:bold; font-size:1.6em;  }
#slideCount { margin-top:10px;font-size:1.5em; text-align:center; color:#CCC; }

.attribution {font-size:1.1em; color:#555555; margin:4px auto 0;}
