#prevNextLinks { width:95%; margin:30px 15px 15px 15px; }
#prevNextLinks a { display:block; }

#previous {float:left; width:50%}
#previous img {width:120px; display: block; border: 1px solid black;}
#previous p {display: block;}

#next {float:right;  width:50%}
#next a {float:right; clear:both;}
#next img {float:right; width:120px; display: inline-block; border: 1px solid black;}
#next p {display: block;}
#next #title {display: block;}
#next .pn_desc {float:right; text-align:right;}
#galleryLink { width:100%; }
#galleryLink a {float:right; display:block; margin-right:10px;}

#ssAddImage img {max-width: 540px;}

.slideTitle {font-weight:strong;}

#clear-both {clear:both;}