#prevNextLinks { width:95%; margin:30px 15px 15px 15px; }
#prevNextLinks a { display:block; }

#previous {float:left; width:50%}
#previous img {display: block;}
#previous p {display: block;}

#next {float:right;  width:50%}
#next a {float:right; clear:both;}
#next img {display: block;}
#next p {display: block;}
#next #title {display: block;}
#next .pn_desc {float:right; text-align:right;}
#fullscreenLink { width:100%; }
#fullscreenLink a {float:right; display:block; margin-right:10px; color:#0074A4 !important; font-size:.8em; white-space: nowrap;}

#ssAddImage img {max-width: 540px;}
.clear-both { clear:both; height:0; }

.slidetitle {font-weight:bold}
.fb-like {top:-27px}
.fullScreenLink {margin: 4px !important}

#hide-ss-text {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.slide_video {position: relative}
.ss-video-overlay { position:absolute; width:60px; height:60px; top:50%; right:50%; }
.ss-video-overlay { background:url(/sites/default/themes/maxim_base/images/ss_vplay_button.png) no-repeat;  }


