.closeLnk {float:right; margin-top:-170px; font-size:11pt;}
.view-slideshow-json h2 { margin:100px 0 50px 0; }
.galleryList { width: 85%; margin: 0 auto; text-align:center; list-style-type: none; }
.galleryList li { float: left; margin:40px; margin-top:0; }


